<p>comics works!</p>


<div class="mat-display-4 button">this is heading 4</div>
<div class="mat-display-3 button">this is heading 3</div>
<div class="mat-display-2 button">this is heading 2</div>


<div class="mat-headline">this is heradline</div>
<div class="mat-title">this is titole </div>
<div class="mat-subheading-2">this is subheading 2</div>
<div class="mat-subheading-1">this is subheading 1</div>


<div class="mat-body-1">this is subheading 1</div>
<div class="mat-body-2">this is subheading 1</div>
<div class="mat-caption">this is subheading 1</div>

<div>
  <button mat-button class="button">clink me</button>
  <button mat-raised-button class="button">clink me</button>
  <button mat-flat-button class="button">clink me</button>

  <button mat-icon-button class="button">clink me</button>
  <button mat-fab class="button">clink me</button>
  <button mat-mini-fab class="button">clink me</button>


  <h1>DINESH</h1>
</div>
